<ion-header>
	<ion-navbar>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>类别列表</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item-sliding *ngFor="let item of list">
			<ion-item>
				<div class="item-label" item-left>
					{{item.name}}
				</div>
				<div class="item-note">
					{{item.options}}
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary" (click)="edit(item)">编辑</button>
				<button ion-button color="danger" (click)="remove(item)" *ngIf="!item.options">删除</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>